# This file contains all the files/directories that should
# be ignored (i.e. not included) in the final packaged extension.

# Ignore extension configs
.vscode/**

# Ignore test files
.vscode-test/**

# Ignore build artifacts
out/**

# Ignore source code
src/**
test/**

# Ignore all webview-ui files except the build directory
webview-ui/src/**
webview-ui/public/**
webview-ui/scripts/**
webview-ui/index.html
webview-ui/README.md
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/node_modules/**

# Ignore Misc
node_modules
.yarnrc
.prettierignore
**/.gitignore
**/tsconfig.json
**/tsconfig.node.json
**/vite.config.ts
**/.eslintrc.json
**/.eslintrc.cjs
**/*.map
**/*.ts

# Ignore markdown docs.
**/*.md

# Files that *must* be included (override the above ignores).
!README.md
!CHANGELOG.md
!LICENSE.md
!out/extension.js
!webview-ui/node_modules/@vscode/codicons/dist/codicon.css
